* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#currencyAppArea .container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 80% !important;
    max-width: none !important;
    margin: 0 auto;
}

#currencyCalculator .row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

@media (max-width: 768px) {
    #currencyCalculator .row {
        height: auto;
        width: auto;
        text-align: center;
        background-color: aliceblue;
    }

    #currencyCalculator .row div {
        margin: 5px 0px;
    }

    #currencyCalculator .amount {
        text-align: center;
    }

    #currencyCalculator .selectArea {
        text-align: center;
        font-size: 12px;
        overflow: auto;
    }

    #currencyAppArea .dataInfo {
        padding: 30px;
    }

    #currencyCalculator .swapButton {
        margin: 0;
    }
}


.swapButton {
    margin-top: 35px;
}

.selectArea {
    max-width: 100%;
}

/* Amount Input Area */

#amount {
    text-align: right;
}


.amount input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.amount input:focus {
    border-color: #0c84c9;
}

body label {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
    text-align: center;
}

.amount input[type="number"]::-webkit-outer-spin-button,
.amount input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.currency select {
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: border-color 0.3s ease;
    width: 100%;
    padding: 10px;
}

.dropdown select:focus {
    border-color: #4CAF50;
}

select {
    border-radius: 8px;
    color: #333;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    outline: none;
    font-weight: bold;
}

select:hover,
select:focus {
    border-color: #080808;
    background-color: rgba(233, 245, 255, 0.6);
}

select::-ms-expand {
    display: none;
}

.custom-select {
    position: relative;
    display: inline-block;
    padding: 0;
    border: none;
}

.custom-select::after {
    content: '▼';
    font-size: 14px;
    position: absolute;
    top: 60%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #7e858d;
}

select option:hover {
    background-color: #007BFF;
    color: #fff;
}


.convertedData p {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.rateCalc p {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

#currencyCalculator .row {
    padding: 20px;
}


/* Buton tasarımı */
#convertButton button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #007BFF;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    outline: none;
}

/* Hover durumunda buton */
#convertButton button:hover {
    box-shadow: 10px 10px 10px rgba(61, 60, 60, 0.2);
    border: 1px solid black;
}